streamlit
ultralytics
opencv-python-headless
matplotlib
reportlab
numpy
lapx
groq
openai
numpy
torch
torchvision
streamlit
opencv-python-headless
numpy
pillow
groq
openai
reportlab
matplotlib
opencv-python==4.9.0.80
